@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --color-dark: #0B0F19;
    --color-primary: #6366F1;
    --color-gray-800: #33354D;
    --color-gray-700: #565973;
    --color-gray-600: #9397AD;
    --color-gray-500: #B4B7C9;
    --color-gray-400: #D4D7E5;
    --color-gray-300: #E2E5F1;
    --color-gray-200: #EFF2FC;
    --color-gray-100: #F3F6FF;
    --color-white: #fff;
    --color-white-b: #fff;
    --color-white-c: #fff;
    --color-bg: #fff;
    --color-bg-2: #F3F6FF;
    --color-bg-gradient: #fff;
    --color-btn-info: #4C82F7;
    --color-btn-app-store: #fff;
    --color-rev-card: #fff;
    

    --color-gradient-header: linear-gradient(to top, rgba(241, 244, 253, 0.034), rgba(252, 252, 253, 0.035) 99%);

    --background-gradient: linear-gradient(to top, rgba(99, 101, 241, 0.100), rgba(219, 70, 239, 0.050) 42%, rgba(241, 244, 253, 0.070) 83%);
   

    --container-padding: 1rem;
    --transition-time: all 0.2s;

    --br-m: 0.375em;
    --br-l: 0.7em;

    --color-text-body: var(--color-gray-700);
    --color-text-heading: var(--color-dark);
    --color-text-btn: #fff;

    --frame-padding: 0 19.5rem 0 19.5rem;
}

[data-theme="dark"] {
    --color-dark: #ffffff;
    --color-primary: #6366F1;
    --color-gray-800: #ffffff;
    --color-gray-700: #ffffff;
    --color-gray-600: #ffffff;
    --color-gray-500: #ffffff;
    --color-gray-400: #D4D7E5;
    --color-gray-300: #e2e5f126;
    --color-gray-200: #EFF2FC;
    --color-gray-100: #ffffff0a;
    --color-white: #0b0f19;
    --color-white-b: #222032;
    --color-white-c: #151822;
    --color-bg: #0b0f19;
    --color-bg-2: #151822;
    --color-bg-gradient: #fff;
    --color-btn-app-store: #33354D;
    --color-rev-card: #1e212b;

    --background-gradient: linear-gradient(to top, rgba(71, 73, 172, 0.1), rgba(219, 70, 239, 0.050) 42%, rgba(241, 244, 253, 0.030) 99%);
    
    --color-text-body: var(--color-gray-700);
    --color-text-heading: var(--color-dark);

    .btn-filter {
        filter: drop-shadow(0px 1000px 0 var(--color-btn-app-store));
        transform: translateY(-1000px);
    }

    .Silicon-text {
        filter: drop-shadow(0px 1000px 0px var(--color-dark));
        transform: translateY(-1000px);
    }

    .faq-card {
        box-shadow: 2px 2px 2px 0 transparent;
        border-radius: 10px;
        border: solid var(--color-white-c);
    }


}

header {
    position: absolute;
    padding-block: 1rem;
    width: 100%;
    top: 0
}

* {
    
    box-sizing: border-box;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.8;
    background-color: var(--color-bg);
    color: var(--color-text-body);
    
}



a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.nav-link {
    color: var(--color-gray-800);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-round {
    display: flex;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    
}

.btn-white {
    background-color: var(--color-white-b);
    color: var(--color-gray-800);
    box-shadow: 0 0 1px var(--color-dark);
    
}

.btn-white:hover {
    color: var(--color-btn-info);
    text-decoration: none;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
    border-radius: 8px;
    padding: 6px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-btn-info);
    color: var(--color-text-btn);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-learn {
    gap: 1rem;
    max-width: 159px;
    padding: 8px 0px 0.7rem 15px;
    font-size: 14px;
    font-weight: 500;

    i {
        margin-top: 4px;
    }
}

.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-text-btn);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-600);    
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-text-btn);
    transition: all 0.2s;
}

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.container {
    width: 100%;
    background-color: var(--color-bg);
    background-image: var(--color-gradient-header);
     
    /* img {
        width: 100%;
        display: block;
    } */

    img {
        display: flex;
        flex-direction: row;
   
    }
    .Silicon-text {
        margin-left: 1px;
        filter: drop-shadow(0px 1000px 0px var(--color-dark));
        transform: translateY(-1000px);
    }
    .Silicon-logo {
        padding-right: 0rem;
        width: 47px;
        
    }
    
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

@media (min-width: 1400px) {
    .container {
       padding: var(--frame-padding);    
    }


    header .container {
        grid-template-columns: 7px auto 1fr auto auto;
        gap: 3rem;     
    }

     
}

.frontpage-container {

    padding: var(--frame-padding);
    padding-bottom: 5rem;
    background-color: var(--color-bg);
    background-image: var(--background-gradient);

}

.showcase {
    display: block;

    text-align: center;
    padding-bottom: 0em;
    
        
    .d4 {
        padding-top: 10rem;
        width: 500px;
        margin-bottom: 0.4em;
        display: block;
        line-height: 1.3em;     
        text-align: left;
        position: relative;
        
                    
    }

    .market-btns {       
        gap: 1.5rem;
        flex-direction: row;
        padding-top: 3em;
        display: flex;    
         
        
    }

    .store-btn {
        background-color: var(--color-dark);
        width: 180px;
        padding: .2em 1em;
        border-radius: var(--br-l);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        
        img {
            
            padding: .5rem;
            
        }

        

       
    }

    .text-large {
        
        font-size: 18px;
        width: 35%;
        text-align: start;
        display: block;
        color: var(--color-gray-700);
    }


    .more {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
        max-width: 50%;
        padding-top: 12.3em;    

        span {
            color: var(--color-gray-700);
        }
    }

    .phone-img-container {
            
        display: block;
        
        position: absolute;
        top: 184px;
        right: 315px;
        
        
    }
    
    
}

.logos-p { 

    background-color: var(--color-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: var(--frame-padding);
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.logos-cards {
    border-style: solid;
    border-color: var(--color-gray-300);
    border-width: 2px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
    width: 196px;

}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.d4 {
    font-size: 3.5rem;
    color: var(--color-text-heading);
    font-weight: 900;
    
}


/* Page-Two */

.p2-container {
    padding: var(--frame-padding);
    background-color: var(--color-bg);
    padding-bottom: 9em;
    padding-top: 1rem;
    
    .pwc {
            display: flex;
            width: 42%;
            
            float: inline-start;
            
        
    }

    .text-h {
        h1 {
            text-align: start;
            color: var(--color-dark);
            font-size: 40px;
            line-height: 0.5; 
            font-weight: 800;
                 
        }
        .text-large {
            color: var(--color-gray-600);
            font-size: 18px;
            text-align: start;            
            width: 101%;            
            padding-bottom: 2.7rem;
            font-weight: 300;
                   
        }
    }
    .app-feat {

        display: grid;
        grid-template-columns: repeat(2, 1fr)
       
    }
    
    .feat-con {
        display: flex;
        gap: 1rem;
        text-align: start; 
        align-items: flex-start;
        padding: 0 0rem 0 2rem;
        
        
    
        h5 {
            font-size: 20px;
            color: var(--color-dark);
            line-height: 1.6;
            font-weight: 900;
            margin-bottom: 5px;
        }
        

        p {
            color: var(--color-gray-700);
            font-size: 16px;
        }
    
    }
    
    .icons {
        padding-top: 2rem;
    }
   
}

/* Page Three */

.how-does {
    padding: var(--frame-padding);
    background-color: var(--color-bg-2);
    text-align: center;
    padding-top: 1rem;

    h1 {
        
        color: var(--color-dark);
        font-size: 40px;
        line-height: 0.5; 
        font-weight: 800;
        padding-top: 3.5rem;         
    }

    .phones {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0 1em 0;
    }

    .text-hist {
        
      
        
        h4 {
            color: var(--color-dark);
            font-weight: 900;
            font-size: 24px;
            line-height: 0;
        }
    
        p {
            color: var(--color-gray-700);
            font-size: 16px;   
            max-width: 676px;
            margin-left: 305px;     
            padding-bottom: 5rem;    
        }

    }
}

/* Page Four */

.simple-transfer {
    padding: var(--frame-padding);
    padding-top: 10em;
    background-color: var(--color-bg);

    .tr-cont {
        display: grid;
        max-width: 510px;
        text-align: start;
        padding-left: 7em;
        
    }
    
    .checkmark {
        padding-top: 4px;
        
    }

    p {
        color: var(--color-gray-700);
        font-size: 16px;   
        
    }
    .cm-cont {
    display: flex;
    gap: 0.6rem;
    text-align: start; 
    align-items: flex-start;
    padding-bottom: 5px;
    }

    .info {
        h2 {
            font-size: 32px;
            color: var(--color-dark);
            font-weight: 800;
            line-height: 1.3;
        }
    }

    .forecast {
       width: 93%;
       display: flex;
       justify-content: flex-end;
       margin-top: -26em;
    }

    .btn-learn {
        margin-top: 3em;
    }

}

.receive {

    padding: 6rem 24.9rem 5.5rem 26.5rem;
    display: flex;
    background-color: var(--color-bg);
    
    .tr-cont-2 {
        
        padding-top: 2.5rem;
        padding-left: 2rem;
        
        .info {
            h2 {
                font-size: 32px;
                color: var(--color-dark);
                font-weight: 800;
                line-height: 1.3;
            }
        }

        .contacts {
            padding: 5.5rem 0 0 0;
        }

        .btn-learn {
            margin-top: 3em;
        }
        
    }

    .more-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        padding-top: 0.8rem;
    }
    p {
        color: var(--color-gray-700);
    }
}

.p-start {
    
    max-width: 337px;
    padding-right: 2rem;
    text-align: start;
    font-size: 26px;
    color: var(--color-dark);
    font-weight: 900;
    line-height: 1.3;
    margin-top: -50px;
    
}

.reviews {

    padding: var(--frame-padding);
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--color-bg-2);


    display: grid;
    grid-template-columns: 1fr 2fr;
    
}     
.review-cont {

    background-color: var(--color-rev-card);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
    
    
    box-shadow: 0 0 2px var(--color-gray-300);
    border-radius: 7px;
    
    color: var(--color-gray-700);
    max-width: 416px;


}



.rev-cards {

    
    display: flex;
    flex-direction: row;
    gap: 3rem;
    line-height: 1.6;
}

.fa-regular {
    color: #b4b7c9;
    padding-bottom: 2rem;
}

.fa-solid {
    color: #ffba08;
    padding-bottom: 2rem;
}

.icon-quote {
    margin-top: -25px;

}




.author {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    
}

.author-name {
    
    
    line-height: 0.2;

    h4 {
        color: var(--color-dark);
        
    }

    h5 {
        font-size: 14px;
        color: var(--color-gray-600);
        font-weight: 300;
    }

}

.faq {
    padding: var(--frame-padding);
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg);


    h2 {
        font-size: 32px;
        color: var(--color-dark);
        font-weight: 800;
        line-height: 1.3;
        width: 60%;
    }

    .text-m {
        line-height: 1.8;
        padding-bottom: 2rem;
        max-width: 75%;
        font-size: 18px;
        color: var(--color-gray-700);
        
    }


    
}

.contact-card {
    border-style: solid;
    border-color: var(--color-bg-2);
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: 1.5rem;
    max-width: 195px;
    

    p {
        font-size: 14px;
        line-height: 3rem;
       
    }
    
}

.contact-us {
    color: var(--color-primary);
    display: flex;
    align-items: center;

    a {
        font-size: 14px;
        font-weight: 600;
    }

    i {
        padding-left: 1rem;
        
        
    }
}

.message-green {
    color: #22C55E;

}


.contact-options {
    
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    position: relative;
    
    
}

.faq-questions {
    
    max-width: 700px; 
    padding-bottom: 0rem;
    margin-bottom: 10rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.faq-card {
    box-shadow: 2px 4px 4px var(--color-gray-200);
    background-color: var(--color-white-c);
    border-radius: 10px;
    border: solid transparent;
    
}


.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 2rem; */
    padding: .7rem 1.7rem .7rem 1.7rem;
    cursor: pointer;
    height: 68px;

    p {
        font-size: 16px;
        font-weight: 500;
        color: var(--color-dark);
    }
}

.btn-round-faq {
    background-color: var(--color-gray-100);
    border: 0;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;

    transition: all 300ms;
    color: var(--color-gray-800);
}

.question:hover .btn-round-faq {
    background-color: var(--color-btn-info);
}

.answer {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;

    transition: grid-template-rows 300ms, padding-bottom 300ms;
    /* padding: 0 1.7rem;  */

    margin-left: 1.7rem;
    
    
    
}

.open .answer {
    grid-template-rows: 1fr;
    padding-bottom: 1.6rem;
    
}

.open .btn-round-faq {
    background-color: var(--color-primary);
    rotate: 180deg;
    color: #fff;
}

.expandable {
    min-height: 0px;
    font-size: 14px;
    line-height: 1.5;
    width: 95%;
    color: var(--color-gray-700);
}


.newsletter {
    margin-left: 312px;
    max-width: 1320px;
    padding-left: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-right: 335px;
    display: flex;
    flex-direction: row;
    
    background-color: var(--color-bg-2);
    
}

.newsletter-bg {
    background-color: var(--color-bg);
    
}



.subscribe {
    display: flex;
    align-items: center;
    gap: 2rem;

    h4 {
        color: var(--color-dark);
        font-weight: 800;
        font-size: 24px;
        line-height: 1.4;
        
    }
    
    img {
        width: 78px;
        height: 78px;
    }
}

.subscribe-email {
    width: 330px;
    margin-right: 220px;
    margin-top: 2.5rem;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    background-color: var(--color-white-b);
    

    input[type=text] {
        background-color: var(--color-white-b);
        background-image: url("src/assets/images/PageSix/emaillogo.svg");
        background-position: 10px 17px;
        background-repeat: no-repeat;
        padding-left: 40px;
        font-size: 16px;
        border: transparent;
        
      }
      
      input[type=text]:focus {
        border: none;
      }

    
}
.btn-subscribe {
    background-color: var(--color-primary);
    color: var(--color-text-btn);
    border-radius: 0px 8px 8px 0;
    padding: 2px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    max-height: 52px;
    border: none;
    font-size: 16px;
    
}

.btn-subscribe:hover {
    background-color: var(--color-btn-info);
    color: var(--color-text-btn);
    text-decoration: none;
    
}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    color: var(--color-gray-500);
    background: var(--color-bg);
}
